@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #263f54;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(10, 18, 56);
}